<ul class="collection">
  <li
    [class.active]="video.id === selectedVideoId"
    class="collection-item"
    (click)="setSelectedVideo(video)"
    *ngFor="let video of videos"
  >
    <abc-video-preview [video]="video"></abc-video-preview>
  </li>
</ul>
