<div class="row">
  <abc-video-list
    [videos]="(videos | async) || []"
    [selectedVideoId]="(selectedVideo | async)?.id || ''"
    (videoSelected)="updateSelectedVideo($event)"
    class="col s3"
  ></abc-video-list>

  <abc-video-player
    *ngIf="selectedVideo | async as video"
    [video]="video"
    class="col s6"
  ></abc-video-player>

  <abc-stat-filters class="col s3"></abc-stat-filters>
</div>
